body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: -0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: var(--headers-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;
  margin-bottom: 30px;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.box-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

:root {
  --headers-text-color: rgba(33, 33, 33, 1);
  --main-text-color: rgba(117, 117, 117, 1);
  --main-background-color: #ffffff;
  --accent-color: rgba(33, 150, 243, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.button {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
}

.button:hover, .button:focus {
  background-color: #2196f3;
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.primary {
  width: 202px;
  height: 50px;
  background-color: #2196f3;
  color: white;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin-top: 30px;
}

.primary:hover, .primary:focus {
  background-color: #188ce8;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters {
  background-color: #f5f4fa;
  color: #212121;
  padding: 6px 22px;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .contacts__icon {
    background-color: #ffffff;
    fill: #757575;
    margin-right: 8px;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: auto;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contacts__icon {
    background-color: #ffffff;
    fill: #757575;
    margin-right: 10px;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
  }
  .contacts__item:not(:first-child) {
    margin-left: 50px;
  }
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.contacts__link:hover, .contacts__link:focus, .contacts__link.current {
  color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--dark-font {
  color: var(--headers-text-color);
}

.logo--white-font {
  color: var(--main-background-color);
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 93px;
  }
}

.footer-logo {
  margin-bottom: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms linear, visibility 500ms linear;
  transform: scale(1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  transform: scale(0, 5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  cursor: pointer;
}

.modal__closebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  background-position: center;
  cursor: pointer;
  padding: 0;
}

.modal__closebtn-icon {
  margin: auto;
  fill: black;
  drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
  }
}

.modal__closebtn:hover .modal__closebtn-icon,
.modal__closebtn:focus .modal__closebtn-icon {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-form__box {
  cursor: pointer;
}

.modal-form__head {
  display: block;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form__field {
  font-size: 12px;
  color: #757575;
  margin-top: 10px;
  width: 100%;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  background-color: #ffffff;
  transition: background-color 250ms linear;
}

.modal-form__input-box {
  position: relative;
  display: block;
}

.modal-form__button {
  display: block;
}

.modal-form__field:first-of-type {
  margin-top: 0;
}

.textarea-field {
  height: 138px;
}

.modal-form__input {
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  transition: border-color 250ms linear;
}

.modal-form__input:hover, .modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover + .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message {
  font-size: 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color 250ms linear;
  outline: none;
}

.modal-form__message:hover, .modal-form__message:focus {
  border-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input:focus:not(:placeholder-shown):valid {
  border-color: green;
}

.modal-form__input:focus:not(:placeholder-shown):invalid {
  border-color: red;
}

.modal-form__checkbox:focus + .modal-form__policy-label::before {
  background-color: #2196f3;
  border: none;
  background-image: url(../images/vector.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
}

.modal-form__policy-link {
  color: #2196f3;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: underline;
  text-align: center;
}

.modal-form__policy-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-top: 20px;
}

.modal-form__policy-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  cursor: pointer;
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .modal-form__policy-link,
  .modal-form__policy-label {
    font-size: 14px;
    line-height: 1.7;
  }
  .modal-form__head {
    line-height: 1.15;
  }
}

.projects-list__item {
  margin-top: 30px;
  border: 1px solid #eeeeee;
}

.projects-list__item:hover, .projects-list__item:focus {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .projects-list__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .projects-list__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.projects-list__link {
  display: block;
}

.projects-list__link:hover .project-overlay,
.projects-list__link:focus .project-overlay {
  transform: translateY(0%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__image-box {
  max-width: fit-content;
  position: relative;
  overflow: hidden;
}

.project__image {
  max-width: 100%;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
  background-color: #2196f3;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.project__data {
  padding: 20px 24px;
  box-sizing: border-box;
  display: inline-block;
}

.project__title {
  color: var(--headers-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}

.project__category {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.signup-form__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form__mail-field {
  outline: none;
  margin-left: 0;
  margin-right: 0;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px 0;
  margin-top: 20px;
}

.signup-form__submitbtn {
  position: relative;
  background-color: #2196f3;
  color: white;
  text-align: left;
  padding: 10px 29px;
  margin-top: 20px;
}

.signup-form__submitbtn::after {
  position: absolute;
  top: 13px;
  right: 28px;
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/submit.svg);
  fill: #ffffff;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 480px) {
  .signup-form__mail-field {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .signup-form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .signup-form__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 0;
  }
  .signup-form__slogan {
    display: block;
    color: white;
  }
  .signup-form__mail-field {
    padding: 15px 16px;
  }
  .signup-form__submitbtn {
    position: relative;
    background-color: #2196f3;
    color: white;
    text-align: left;
    padding: 10px 29px;
    margin-left: 12px;
    margin-top: 0;
  }
}

.signup-mail-field:hover,
.signup-mail-field:focus {
  border: 1px solid var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__list {
  display: flex;
}

.social-links__item {
  margin-top: 16px;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.social-links__icon {
  fill: #afb1b8;
}

.team-section__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section__item:not(:last-child) {
  margin-bottom: 30px;
}

.team-section__image {
  height: auto;
}

.team-section__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 25px;
}

.team-section__worker {
  color: var(--headers-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team-section__position {
  font-size: 16px;
  line-height: 1.18;
}

@media screen and (min-width: 480px) {
  .team-section__image {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-section__item {
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
  .team-section__item:not(:last-child) {
    margin-bottom: 0;
  }
  .team-section__image {
    width: 354px;
    height: auto;
  }
  .team-section__text {
    text-align: center;
    padding: 32px 74px 24px;
  }
  .team-section__worker {
    color: var(--headers-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
  }
  .team-section__position {
    font-size: 16px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1200px) {
  .team-section__item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 120px) / 4);
  }
  .team-section__image {
    width: 270px;
    height: auto;
  }
  .team-section__text {
    text-align: center;
    padding: 30px 32px;
  }
}

.adv__item {
  margin-bottom: 30px;
}

.adv__icon {
  width: 100%;
  background-color: #f5f4fa;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.adv__features {
  color: var(--headers-text-color);
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .adv__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .adv__item {
    max-width: 354px;
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .adv__icon {
    background-color: #f5f4fa;
    padding: 25px 144px;
    margin-bottom: 30px;
  }
  .adv__features {
    color: var(--headers-text-color);
    text-align: left;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .adv-section {
    padding-bottom: 47px;
  }
  .adv__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .adv__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }
  .adv__icon {
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    padding: 25px 100px;
    margin-bottom: 30px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-list__item {
  display: block;
  flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
  margin-top: 30px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-list__icon {
  fill: #afb1b8;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 90px) / 3);
  }
  .clients-list__link {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 180px) / 6);
  }
  .clients-list__link {
    width: 170px;
  }
}

.footer {
  background-color: #2f303a;
  color: var(--main-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-social-links__icon {
  fill: #ffffff;
}

.footer-social-links__item {
  margin-right: 10px;
}

.footer-social-links__link {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
}

.footer-contacts {
  font-style: normal;
  text-align: center;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 0;
  }
  .footer__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .footer__data {
    margin-left: 76px;
    margin-right: auto;
    padding-bottom: 60px;
  }
  .footer-social-links {
    margin-right: 76px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 70px;
    margin-left: 0;
  }
  .footer-social-links {
    margin-left: 0;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
  .footer-contacts {
    font-style: normal;
    text-align: left;
  }
}

.footer-social-links__link:hover,
.footer-social-links__link:focus {
  background-color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__list {
    display: none;
  }
  .header-box {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .site-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  color: var(--headers-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link:hover, .site-nav__link:focus, .site-nav__link.current {
  color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover::after, .site-nav__link:focus::after, .site-nav__link.current::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  left: 0;
  top: 0;
  background-color: #2196f3;
  border-radius: 2px;
  margin-top: 44px;
}

.hero {
  text-align: center;
}

.hero__title {
  color: white;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-section {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-mob/hero.webp), url(../../images/hero/hero-mob/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2) and (min-width: 320px), (min-resolution: 192dpi) and (min-width: 320px), (min-resolution: 2dppx) and (min-width: 320px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-mob/hero@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-tabl/hero.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 480px), (min-resolution: 192dpi) and (min-width: 480px), (min-resolution: 2dppx) and (min-width: 480px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-tabl/hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-section {
    background-color: #c4c4c4;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-desk/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero-desk/hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    text-align: center;
  }
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.16;
    letter-spacing: 0.06em;
  }
  .hero-section {
    background-color: #c4c4c4;
    text-align: center;
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.projects-categories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  justify-content: flex-start;
}

.projects-categories__item {
  margin-bottom: 15px;
}

.projects-categories__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .projects-categories {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center;
  }
  .projects-categories__item {
    margin-right: 8px;
    margin-bottom: 0;
  }
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-categories {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
  }
  .projects-categories__item {
    display: inline-block;
  }
}

.social-links__link:hover,
.social-links__link:focus {
  background-color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus .social-links__icon {
  fill: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__icon:hover,
.social-links__icon:focus {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .team-section {
    background-color: #f5f4fa;
  }
  .team-section__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 1199px) {
  .work-section {
    display: none;
  }
}

.work-section {
  padding-top: 47px;
}

.work-section__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.work-section__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.work-section__box {
  position: relative;
}

.work-section__features {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 370px;
  height: 70px;
  color: white;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 767px) {
  .burger-btn {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
  }
  .burger-btn__icon {
    fill: #212121;
    width: 24px;
    height: 16px;
  }
  .mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-background-color);
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 9999;
    cursor: pointer;
  }
  .mob-menu__container {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 25px;
  }
  .mob-menu__list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .mob-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }
  .mob-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mob-menu__link {
    color: var(--headers-text-color);
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }
  .mob-menu__link:focus,
  .mob-menu__link:hover .mob-menu__link.current {
    color: var(--accent-color);
  }
  .mob-menu__contact {
    margin-bottom: 64px;
  }
  .mob-menu__contact-item {
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  .mob-menu__contact-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mob-menu__social {
    display: flex;
    flex-wrap: wrap;
  }
  .mob-menu__social-item:not(:last-child) {
    margin-right: 20px;
  }
  .mob-menu__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mob-menu__social-link::after {
    content: "";
    width: 22px;
    height: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-left: 10px;
  }
  .tel-link {
    color: var(--accent-color);
    font-size: 34px;
    line-height: 1.18;
  }
  .mail-link {
    font-size: 24px;
    line-height: 1.17;
    color: var(--secondary-text-color);
  }
  .mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.burger-btn:hover.burger-btn__icon,
.burger-btn:focus.burger-btn__icon {
  color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__close-btn:hover.mob-menu__close-btn-icon,
.mob-menu__close-btn:hover.mob-menu__close-btn-icon {
  color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .mob-menu__social-item {
    margin-bottom: 30px;
  }
  .tel-link {
    color: var(--accent-color);
    font-size: 28px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
  .burger-btn {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */