@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;

    &__icon {
      background-color: #ffffff;
      fill: rgba(117, 117, 117, 1);
      margin-right: 8px;
    }
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: auto;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__icon {
      background-color: #ffffff;
      fill: rgba(117, 117, 117, 1);
      margin-right: 10px;
    }

    &__item:not(:last-child) {
      margin-bottom: 0;
    }

    &__item:not(:first-child) {
      margin-left: 50px;
    }
  }
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  &:hover,
  &:focus,
  &.current {
    color: var(--accent-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover .contacts__icon,
  &:focus .contacts__icon {
    fill: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}
