.social-links__list {
  display: flex;
}
.social-links__item {
  margin-top: 16px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.social-links__icon {
  fill: rgba(175, 177, 184, 1);
}
