
  .team-section__item {
    // width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  .team-section__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .team-section__image {
    // width: 450px;
    height: auto;
  }
  .team-section__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
  
  }
  .team-section__worker {
    color: var(--headers-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
  }
  .team-section__position {
    font-size: 16px;
    line-height: 1.18;
  }
@media screen and(min-width: 480px) {
  .team-section__image {
      width: 450px;}
}

@media screen and (min-width: 768px) {
  .team-section__item {
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
  .team-section__item:not(:last-child) {
    margin-bottom: 0;
  }
  .team-section__image {
    width: 354px;
    height: auto;
  }
  .team-section__text {
    text-align: center;
    padding: 32px 74px 24px;
  }
  .team-section__worker {
    color: var(--headers-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
  }
  .team-section__position {
    font-size: 16px;
    line-height: 1.18;
  }
}
@media screen and(min-width: 1200px) {
  .team-section__item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 120px) / 4);
  }
  .team-section__image {
    width: 270px;
    height: auto;
  }
  .team-section__text {
    text-align: center;
    padding: 30px 32px;
  }
  // .team-section__worker {
  //   color: var(--headers-text-color);
  //   font-weight: 500;
  //   font-size: 16px;
  //   line-height: 1.18;
  //   margin-bottom: 10px;
  // }
  // .team-section__position {
  //   font-size: 16px;
  //   line-height: 1.18;
  // }
}
