body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: -0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section-title {
  color: var(--headers-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;
  margin-bottom: 30px;
}
.list {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  // margin-left: auto;
  // margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.box-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}
