  .adv__item {
    // width: 354px;
    margin-bottom: 30px;
  }
  .adv__icon {
    width: 100%;
    // height: 120px;
    background-color: #f5f4fa;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .adv__features {
    color: var(--headers-text-color);
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
  }
@media screen and(max-width: 767px){
  .adv__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and(min-width: 768px) {
  .adv__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .adv__item {
    max-width: 354px;
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .adv__icon {
    // width: 354px;
    background-color: #f5f4fa;
    padding: 25px 144px;
    margin-bottom: 30px;
  }
  .adv__features {
    color: var(--headers-text-color);
    text-align: left;
    margin-bottom: 10px;
  }
}
@media screen and(min-width: 1200px) {
  .adv-section {
    padding-bottom: 47px;
  }
  .adv__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .adv__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }
  .adv__icon {
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    padding: 25px 100px;
    margin-bottom: 30px;
  }
}
